
  <mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" >
      <mat-toolbar >Menu
      </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item href="/home">Home</a>
        <a mat-list-item href="/create-user">Dash </a>
        <a mat-list-item href="/login">Link 3</a>
      </mat-nav-list>

    </mat-drawer>

    <mat-toolbar color="primary">
      <div >
        <button type="button" mat-button (click)="drawer.toggle()">
          <i class="material-icons">menu</i>
        </button>
      </div>
      <img class="spacer" src="/assets/logo.png" alt="image" style="height: 100px ">
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-drawer-container>



